* {
    margin: 0;
    border: 0;


}


@import url('https://fonts.googleapis.com/css2? family= Lora:ital@1 & family= Mukta & family= Noto+Sans & display=swap');


/* general */
body {
    font-family: 'Mukta', sans-serif;
    ;
}

/* header */
/* logo */
.miLogo {
    width: 150px;
}

/* estilos header */
.miFondo {
    background-color: #fafafa;
    border-top: #004A7C solid 5px;
}

.navbar-collapse {
    font-size: 30px;
}

.nav-item {
    margin-left: 20px;
}

.nav-link {
    color: #004A7C;
}

.miLink:hover {
    background-color: #005691;
}

/* body index */
/* seccion nosotros */

.nosotros {
    background-color: #E8F1F5;
    padding: 100px;
}

.titulo {
    font-size: 45px;
    text-align: center;
    color: #004A7C;
    font-weight: bold;
}

.descripcionIndex {
    text-align: center;
    color: #004A7C;
    font-weight: bolder;
}

.miBoton {
    color: #fafafa;
    text-decoration: none;
}

.boton {
    background-color: #005691;

}

.botonNosotros {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.bno:hover {
    background-color: #fafafa;
    color: #005691;
}

/* seccion estudio juridico */

.estudio {
    background-color: #495464;
    padding: 100px;

}

.estudioDos {
    color: #fafafa;
    font-weight: bold;
    text-align: center;
    font-size: 50px;

}

.indexEstudio {
    color: #fafafa;
    font-weight: lighter;
    text-align: center;
    font-size: 30px;

}

.bej {
    background-color: #E8E8E8;

}

.bej:hover {
    background-color: #BBBFCA;

}

.buej {
    text-decoration: none;
    color: #495464;

}

.buej:hover {
    color: black;
}

.estudioTres {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* seccion teleassist */

.tele {
    background-color: #004A7C;
    padding: 100px;
}

.teleDos {
    text-align: center;
    color: #fafafa;
    font-weight: bolder;
    font-size: 65px;
}

.indexTele {
    text-align: center;
    color: #fafafa;
    font-weight: bolder;
    font-size: 25px;
}

.teleTres {
    text-decoration: none;
    color: #005691;
}

.btele {
    background-color: #E8F1F5;
}

.btele:hover {
    background-color: #004A7C;
    color: #BBBFCA;
}

.teleTres:hover {
    color: #fafafa;
}

.botonTele {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Body Teleassist */

/* sector contacto */
.obra {
    background-color: #004A7C;
    padding: 100px;
}

.tituloObra {
    text-align: center;
    color: #fafafa;
    font-weight: bolder;
    font-size: 45px;

}

.parrafoObra {
    text-align: center;
    color: #fafafa;
    font-weight: bolder;
    font-size: 30px;
}

.btassist {
    background-color: #BBBFCA;

}

.assist {
    color: #495464;
    text-decoration: none;

}

.btassist:hover {
    background-color: #495464;
}

.assist:hover {
    color: #fafafa;

}

.botonObra {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

/* sector informacion de planes */

.planes {
    background-color: #E8F1F5;
    padding: 100px;

}

.titulosPlanes {
    color: #004A7C;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 50px;
}

.planUno {
    padding-bottom: 30px;
}

.tituloUno {
    font-weight: bolder;
}
.paUno {
    font-size: 25px;
}

.planDos {
    padding-bottom: 30px;
}

.tituloDos {
    font-weight: bolder;

}

.paDos {
    font-size: 25px;
}

.planTres {
    padding-bottom: 30px;
}

.tituloTres {

    font-weight: bolder;
}

.paTres {
    font-size: 25px;
}

.planCuatro {
    padding-bottom: 30px;
}

.tituloCuatro {
    font-weight: bolder;

}

.paCuatro {
    font-size: 25px;
}

/* carrusel dos */

.carruselDos {
    color: black;
    font-weight: bold;
}



/* body estudio juridico */
/* informacion del estudio */

.seccionEstudio  {
    background-color: #495464;
    padding: 100px;
}

.tituloEstudio {
    color: #fafafa;
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.parrafoEstudio {
    color: #fafafa;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
}

/* servicios que brindamos */

.serv {
    background-color: #BBBFCA;
    padding: 100px;
}

.servTitulo{
    font-weight: bold;
    color: #004A7C;
    font-size: 45px;
    padding-bottom: 35px;

}

.lista {
    color: #495464;
    font-weight: bolder ;
    font-size: 25px;
}

.mej {

    background-color: #E8E8E8;
    padding: 100px;
}

.con {
    color: #004A7C;
    font-weight: bolder;
    text-align: center;
    font-size: 35px;
    padding-bottom: 20px;
}

.botonJuri {
    background-color: #495464;
}

.coJuri {
    color: #fafafa;
    text-decoration: none;

}

.botonJuri:hover {
    background-color: #BBBFCA;
}

.coJuri:hover {
    color:#495464;
}


.moverBoton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}



/* index nosotros */

.parraNos {
    background-color: #004A7C;
    padding: 100px;
}

.titNos {
    color:#fafafa;
    font-weight: 45px;
    font-size: 45px;
    text-align: center;
    padding-bottom: 10px;

}


.paNos {
    color: #fafafa;
    font-size: 30px;
    text-align: center;

}